




body{
   background-image: url(../images/about.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.about .about-body {
    width:80%;
    background-color: rgba(39, 39, 39,0.5) ;
    height:700px;
    margin-top: 50px;
    
}

.about h1 {
    font-style:italic;
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffa627;
    letter-spacing: 5px;
    font-weight: lighter;
    margin: 20px 0;

}

.about hr {
    border: 1px solid #ddd;
    width: 15%;
    margin-bottom: 30px;
    text-align: center;
}

.about p {
    font-size: 17px;
    color: #ddd;
    font-weight: lighter;
    padding: 10px 20px;
    word-spacing: 2px;
}

.about span {
    color: #ffa627;
}


.about a {
    color:#fedb65;
    text-decoration:none;
    font-weight:bold;
    margin-bottom: 30px;
    display: inline-block;
}
   