/*
  Name: Bravacasa
  FirstColor: #3a3838
  SecondColor: #ffa627
*/


html {
    scroll-behavior: smooth;
}
  
body { 
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar  */
.navbar { 
    position: sticky;
    width: 100%;
    z-index: 999;
    padding-right: 5%;
    opacity: 0.9;
    top: 0;
    transition: 0.4s;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navbar h1 {
    display: block;
    margin: 20px 30px 20px 30px;
    color: rgb(172, 171, 171);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    transition: 0.4s;
}

.navbar h1 span{
    color: #ffa627;
    font-size: 35px;
    transition: 0.4s;
}

@media screen and (max-width: 600px){
    .navbar h1 {
        font-size: 20px;
        margin-right: 0;
    }
    .navbar h1 span {
        font-size: 20px;
    }
}

.navbar .navbar-nav .nav-link {
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 30px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.navbar-light .navbar-nav .active >.nav-link {
    color: #ffa627;
}

.nav-link:hover {
    text-shadow: 2px 2px 5px #ffa627;
    color: #ffa627 !important;
}

@media screen and (max-width: 1200px){
    .navbar .navbar-nav .nav-link {
        font-size: 12px;
        margin-left: 20px;
    }
}

/* header*/
.slider {
    background-color: #ddd;
}

.slider .carousal-item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slider .carousal-one {
    background-image: url('../images/1.JPG');
    background-repeat: no-repeat;
    background-size:  100% 100%;
}

.slider .carousal-two {
    background-image: url('../images/2.jpg');
    background-repeat: no-repeat;
    background-size:  100% 100%;
  
}
@media screen and (max-width:600px)  {
    .slider .carousal-two {
        background-image: url('../images/3.JPG');
    }
}

.slider .carousel-indicators li {
    height: 6px;
    cursor: pointer;
}
 
/* Features */
.features {
    padding: 60px 0;
}

.features .row {
    display: flex;
    flex-wrap: wrap;
}

.features i {
    background-color: #ffa627;
    color: #fff;
    padding: 20px;
    margin-bottom: 15px;
}

.features h3 {
    color: #3a3838;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 2px;
    font-weight: bold;
}

@media screen and (max-width:992px) {
    .features h3 {
        font-size: 25px;
    }
}

@media screen and (max-width:576px) {
    .features i {
        padding: 15px;
        font-size: 30px;
    }
    .features h3 {
        font-size: 20px;
    }
}

.features p {
    color: #6c757d;
    font-size: 20px;
    margin-bottom: 40px;
    letter-spacing: 1.5px;
   
}

@media screen and (max-width:992px) {
    .features p {
        font-size: 15px;
        letter-spacing: 1px;
    }
}

.features span {
    color: #ffa627;
    letter-spacing: 3px;
    font-size: 19;
    font-weight: 800px;
}

/* About us */
.AboutUs  {
    width: 100%;
    background-color: #3a3838 ;
    padding: 60px 0;
}

.AboutUs .container {
    background: linear-gradient(#3a3838, #6c757d);
    border-left: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    padding: 30px;
    margin: 10;
}

@media screen and (max-width:992px) {
    .AboutUs .container{
        width: 80%;
    }
}

.AboutUs .container:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.8);
}

.AboutUs .container h2 {
    display: block;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffa627;
    letter-spacing: 10px;
    font-weight: lighter;
    margin-bottom: 20px;
}

@media screen and (max-width:992px) {
    .AboutUs .container h2 {
        font-size: 30px;
        letter-spacing: 7px;
    }
}

@media screen and (max-width:576px) {
    .AboutUs .container h2 {
        font-size: 22px;
        letter-spacing: 5px;
    }
}

.AboutUs .container hr {
    border: 1px solid rgb(151, 150, 150);
    width: 40%;
    margin-bottom: 30px;
    text-align: center;
}

.AboutUs .container p {
    font-size: 20px;
    color: #ddd;
    font-weight: lighter;
    padding-bottom: 10px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

@media screen and (max-width:992px) {
    .AboutUs .container p {
        font-size: 17px;
        letter-spacing: 3px;
    }
}

@media screen and (max-width:576px) {
    .AboutUs .container p {
        font-size: 14px;
        letter-spacing: 2px;
        margin-bottom: 0;
    }
}

.AboutUs .container span {
    color:#ffa627;
}

.AboutUs a {
    display: inline-block;
    color: #ddd;
    font-size: 20px;;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 10px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.AboutUs a:hover {
    color: #ffa627;
    text-decoration: none;
}

@media screen and (max-width:576px) {
    .AboutUs a {
        font-size: 14px;
    }
}

/* Our Services */
.Services {
    background-color: #fff;
    border-bottom: 1px solid #EEE;
    padding-bottom: 120px;
    padding-top: 100px;
    overflow: hidden;
}

@media screen and (max-width:1200px)  {
    .Services {
        padding-top: 60px;
    }
}
@media screen and (max-width:992px)  {
    .Services {
        padding-bottom: 40px;
    }
}

@media screen and (max-width:375px)  {
    .Services {
        padding-top: 40px;
    }
}

.Services .row {
    margin-left: 120px;
}

@media screen and (max-width:1200px)  {
    .Services .row {
        margin-left: 20px;
    }
}

.Services h2 {
    display: block;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffa627;
    letter-spacing: 7px;
    font-weight: lighter;
    margin-top: 40px;
    margin-left: 0px;
}

@media screen and (max-width:992px) {
    .Services h2 {
        font-size: 40px;
        letter-spacing: 5px;
        margin-top: 10px;
    }
}

@media screen and (max-width:768px) {
    .Services h2 {
      margin-top: 0;
    }
}

@media screen and (max-width:375px)  {
    .Services h2 {
        font-size: 25px;
        letter-spacing: 2px;
    }
}


.Services p {
    font-size: 18px;
    color: #3a3838;
	margin-top: 10px;
	margin-left: 0px;
}

.Services span {
    color: #ffa627;
}

.Services img { 
    margin-top: 70px;
}

@media screen and (max-width:1200px){
    .Services img {
        width: 97%; 
        height: 80%;
    }
}

@media screen and (max-width:992px) {
    .Services p {
        font-size: 17px;
    }
}

@media screen and (max-width:576px) {
    .Services p {
        font-size: 14px;
        margin-bottom: 0;
    }
}

/* Our Projects */
.Projects {
    background-color: #fff;
    padding: 100px 0;
    border-bottom: 1px solid #EEE;
}

@media screen and (max-width:576px) {
    .Projects {
    padding: 50px 0;
    }
}

.Projects h2 {
    color: #ffa627;
    font-size: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 60px;
}

@media screen and (max-width:992px) {
    .Projects h2 {
        font-size: 40px;
        letter-spacing: 7px;
    }
}

@media screen and (max-width:768px) {
    .Projects h2 {
       margin-bottom: 30px;
    }
}

@media screen and (max-width:576px) {
    .Projects h2 {
       margin-bottom: 10px;
       font-size: 28px;
       letter-spacing: 4px;
    }
}

.Projects  .row {
    margin: 0;
}

.Projects  .row .col-md {
    float: left;
    padding: 10px;
    position: relative;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.Projects h3 {
    font-size: 25px;
    color: #3a3838;
    font-weight: lighter;
    margin: 30px 0;
}

@media screen and (max-width: 992px) {
    .Projects h3 {
        font-size: 22px;
    }
}

@media screen and (max-width:576px) {
    .Projects h3 {
       font-size: 19px;
    }
}

@media screen and (max-width:375px) {
    .Projects h3 {
        font-size: 16px;
    }
}

.Projects img {
    display: block;
    width: 150px;
    height: 120px;
    margin: auto;
}
.Projects .box {
    position: relative;
    margin-bottom: 10px;
}
.Projects .box::after {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    width: 1px;
    height: 60%;
    top: 55px;
    right: 0;
}
@media screen and (max-width:576px) {
    .Projects .box::after {
       display: none;
    }
}

/* Our Plan */
.plan {
    width: 100%;
    padding: 60px 0;
    margin: 0;
    border-bottom: 1px solid #EEE;
}

@media screen and (max-width:576px) {
    .plan {
    padding: 30px 0;
    }
}

.plan h2 {
    color: #ffa627;
    font-size: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 50px auto 100px;
}

@media screen and (max-width:992px) {
    .plan h2 {
        font-size: 35px;
        letter-spacing: 5px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width:576px) {
    .plan h2 {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:375px)  {
    .plan h2 {
        font-size: 25px;
        letter-spacing: 2px;
    }
}

.plan .row {
    width: 97%;
    padding-left:90px;
}

@media screen and (max-width:992px)  {
    .plan .row {
       padding-left: 65px;
    }
}

.plan .a {
    background-color: #ffa627;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

@media screen and (max-width:992px) {
    .plan .a {
        width: 97%;
    }
}

.plan .a .col-lg-4 {
    float: left;
}

.plan .a h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #3a3838;
    letter-spacing: 7px;
    margin: 38px 30px ;
    padding-top: 30px;
}


@media screen and (max-width:1200px) {
    .plan .a h3 {
        font-size: 26px;
        margin: 40px 0 ;
        letter-spacing: 3px;
    }
}

@media screen and (max-width:992px) {
    .plan .a h3 {
        font-size: 22px;
        margin: 30px 0;
        letter-spacing: 1px;
    }
}

@media screen and (max-width:567px)  {
    .plan .a h3 {
        margin: 15px 0;
    }
}

@media screen and (max-width:375px)  {
    .plan .a h3 {
        font-size: 17px;
    }
}

.plan .a hr {
    border: 1px solid #fff;
    width: 10%;
    text-align: center;
}

.plan .a span {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: #3a3838;
    color: #ffa627;
    border-radius: 100%;
    font-size: 75px;
    font-weight: bold;
    margin: 20px 0;

}

@media screen and (max-width:768px)  {
    .plan .a span {
        width: 100px;
        height: 100px;
        font-size: 60px;
    }
}

@media screen and (max-width:375px)  {
    .plan .a span {
        width: 75px;
        height: 75px;
        font-size: 45px;
    }
}

.plan .a h4 {
    font-size: 17px;
    text-transform: uppercase;
    color: #3a3838;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

@media screen and (max-width:768px)  {
    .plan .a h4 {
        font-size: 16px;
    }
}

.plan .a p {
    font-size: 15px;
    color: #fff;
    width: 80%;
    margin: 0 auto 60px;
    letter-spacing: 2px;
    font-weight: lighter;
}

@media screen and (max-width:992px) {
    .plan .a p {
        letter-spacing: 1px;
    }
}

@media screen and (max-width:768px) {
    .plan .a p {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 570px) {
    .plan .a p {
        font-size: 15px;
        margin-bottom: 10px;
    }
}

.plan .b {
    background-color: #3a3838;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

@media screen and (max-width:992px) {
    .plan .b {
        width: 97%;
    }
}

.plan .b .col-lg-4 {
    float: left;
}

.plan .b h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: #f0920f;
    letter-spacing: 7px;
    margin: 20px 30px ;
    padding-top: 30px;
}

@media screen and (max-width:1200px) {
    .plan .b h3 {
        font-size: 24px;
        margin: 30px 0 ;
        letter-spacing: 3px;
    }
}

@media screen and (max-width:992px) {
    .plan .b h3 {
        font-size: 22px;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 570px) {
    .plan .b h3 {
        margin: 15px 0;
    }
}

@media screen and (max-width:375px)  {
    .plan .b h3 {
        font-size: 17px;
    }
}

.plan .b hr {
    border: 1px solid #fff;
    width: 10%;
    text-align: center;
}

.plan .b span {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: #ffa627;
    color: #3a3838;
    border-radius: 100%;
    font-size: 75px;
    font-weight: bold;
    margin: 20px 0;
}

@media screen and (max-width:768px)  {
    .plan .b span {
        width: 100px;
        height: 100px;
        font-size: 60px;
    }
}

@media screen and (max-width:375px) {
    .plan .b span {
        width: 75px;
        height:75px;
        font-size: 45px;
    }
}

.plan .b h4 {
    font-size: 17px;
    text-transform: uppercase;
    color: #ffa627;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

@media screen and (max-width:1200px) {
    .plan .b h4 {
        font-size: 16px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width:768px)  {
    .plan .b h4 {
        font-size: 16px;
    }
}

.plan .b p {
    font-size: 15px;
    color: #fff;
    width: 80%;
    margin: 0 auto 60px;
    letter-spacing: 2px;
    font-weight: lighter;
}

@media screen and (max-width:992px) {
    .plan .b p {
        letter-spacing: 1px;
    }
}

@media screen and (max-width:768px) {
    .plan .b p {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 570px) {
    .plan .b p {
        font-size: 15px;
        margin-bottom: 10px;
    }
}

/* Contact */
.contact {
    width: 100%;
    background-color: #EEE;
    padding: 40px 0;
}

.contact .c {
    padding: 30px 0;
}

@media screen and (max-width:992px) {
    .contact .c {
        width: 80%;
    }
}

@media screen and (max-width:576px) {
    .contact .c {
        padding-bottom: 0;
    }
}

.contact h2 {
    display: block;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffa627;
    letter-spacing: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media screen and (max-width:576px) {
    .contact h2 {
        font-size: 30px;
        margin-bottom: 0;
        letter-spacing: 3px;
    }
}

@media screen and (max-width:375px) {
    .contact h2 {
        font-size: 28px;
        letter-spacing: 2px;
    }
}

.contact p {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 5px;
    word-spacing: 2px;
}

@media screen and (max-width:992px) {
    .contact p {
        font-size: 25px;
        letter-spacing: 2px;
        text-align: center;
    }
}

@media screen and (max-width:576px) {
    .contact p {
        font-size: 22px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width:375px) {
    .contact p {
        font-size: 18px;
    }
}

/*  contact-info */
.contact-info {
    background-color: #EEE;
}

.contact-info .column:first-child {
    align-items: center;
}

.contact-info img {
    width: 70%;
    margin-bottom: 10px;
    margin-top: 70px;
}

@media screen and (max-width: 992px) {
    .contact-info  img {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .contact-info  img {
      margin-top: 0;
      width: 80%;
    }
}

@media screen and (max-width:576px) {
    .contact-info  img {
        width: 70%;
    }
}

.contact-info p {
    line-height: 2;
    font-size: 20px;
    letter-spacing: 1px;
    color: #3a3838;
    margin-right:  50px;
    text-align: center;
    display: inline;
}

.contact-info  a {
    display: inline;
    text-decoration: none;
    color: #3a3838;
    font-size: 18px;;
    margin-right:  35px;
    font-weight: lighter;
    text-align: center;
   
}

@media screen and (max-width: 992px) {
    .contact-info h4 {
     font-size: 1.4rem;
    }
}

@media screen and (max-width:576px) {
    .contact-info p,.contact-info  a,.contact-info h4 {
        font-size: 17px;
        margin-right: 10px;
    }
}

#Location {
    color: #ffa627;
    font-weight: bold;
}

#Location:hover {
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
}
/* .v::after {
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    width: 1px;
    height: 70%;
    text-align: center;
    background-color: #f0920f;
} */
.contact-info form {
    color: #ffa627;
	background: #3a3838;
    border-radius: 20px;
	padding: 50px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
}

.contact-info form:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

@media screen and (max-width:576px) {
    .contact-info form {
        font-size:15px;
    }
}

/* Style inputs */
 .contact-info input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 6px;
    resize: vertical;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    margin-bottom: 25px;
  }

  .contact-info textarea {
      height: 140px;
  }

  .contact-info input[type=submit] {
    background-color: #f0920f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 50%;
  }
  
  @media screen and (max-width:576px) {
    .contact-info input[type=text], input[type=email], textarea {
        font-size:12px;
    }
  }

  .contact-info input[type=submit]:hover {
    background-color: #ffa627;
  }
  
  /* Create two columns that float next to eachother */
  .contact-info .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .contact-info .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 768px) {
    .contact-info .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .contact-info form {
        text-align: left !important;
    }
    .contact-info textarea {
        height: 90px;
    }
    .contact-info input[type=submit] {
        width: 30%;
        padding: 12px 15px;
    }
  }

/* Footer  */
.footer {
    width: 100%;
    background-color: #3a3838 ;
    color: #fff;
    font-size: 15px;
}

@media screen and (max-width:768px) {
    .footer {
        font-size: 10px;
    }
}

.footer a {
    color: #fff;
    display: inline-block;
    padding: 4px;
}

.footer a:hover {
    color: #fff;
}

@media screen and (max-width:768px) {
    .footer a {
        display: inline;
    }
}

.footer .c a:hover {
    color: #ffa627;
}

/* Projects Pages */
/* Medical */
.Medical  {
    width: 100%;
    height: calc(100vh - 79px);
    position: relative;
    overflow: hidden;
}
header .header__text--title {
    color: #3a3838;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-size: 58px;
    text-transform: uppercase;
}
header .header__figure {
    position: relative;
}
header img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: auto;
    z-index: -1;
}
.project1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.project1 hr {
    border-top: 3px solid #bbb;
    width: 80%;
    margin-bottom: 40px;
}

.project1 h2 {
    font-family:  Arial, Helvetica, sans-serif;
    color: #302f2f;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}
.project1 .title {
    position: relative;
}
.project1 .title::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent  transparent  transparent #ffa627;
}
.project1 h5 {
    display: inline-block;
    background-color: #ffa627;
    color: #fff;
    padding: 10px;
}

.project1 .med {
    padding: 8px;
} 

.project1 img {
    border: 5px solid #EEE;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.3);
}

@media screen and (max-width:1200px){
    .project1 img {
        width: 95%;
        
    }
    .project1 h2 {
        font-size: 24px;
    }
}

.project1 span, header span {
    color: #ffa627;
    font-weight: bold;
}

/* Corporate */
.Corporate  {
    width: 100%;
    height: calc(100vh - 79px);
    position: relative;
    overflow: hidden;
}

.project2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.project2 hr {
    border-top: 3px solid #bbb;
    width: 80%;
    margin-bottom: 30px;
}

.project2 h2 {
    font-family:  Arial, Helvetica, sans-serif;
    color: #302f2f;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}
.project2 .title {
    position: relative;
}
.project2 .title::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent  transparent  transparent #ffa627;
}
.project2 h5 {
    display: inline-block;
    background-color: #ffa627;
    color: #fff;
    padding: 10px;
}
.project2 p {
    font-size: 18px;
    color: #000;
}

.project2 .cor {
    padding: 8px;
}

.project2 img {
    border: 5px solid #dcdac5;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

@media screen and (max-width:1200px){
    .project2 img {
        width: 90%;
    }
    .project2 h2 {
        font-size: 24px;
    }
    .project2 p {
        font-size: 15px;
    }
}

.project2 span {
    color: #ffa627;
    font-weight: bold;
}

/* Commercial */
.Commercial {
    width: 100%;
    height: calc(100vh - 79px);
    position: relative;
    overflow: hidden;
}

.project3 {
    margin-top: 40px;
    margin-bottom: 40px;
}
 
.project3 hr {
    border-top: 3px solid #bbb;
    width: 80%;
    margin-bottom: 30px;
}

.project3 h2 {
    font-family:  Arial, Helvetica, sans-serif;
    color: #6c757d;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-top: 30px;
    text-transform: uppercase;
}
.project3 .title {
    position: relative;
}
.project3 .title::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent  transparent  transparent #ffa627;
}
.project3 h5 {
    display: inline-block;
    background-color: #ffa627;
    color: #fff;
    padding: 10px;
}
.project3 p {
    font-size: 18px;
    color: #000;
}

.project3 .com {
    padding: 8px;
}

.project3 img {
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

@media screen and (max-width:1200px){
    .project3 img {
        width: 90%;
    }
    .project3 h2 {
        font-size: 24px;
    }
    .project3 p {
        font-size: 15px;
    }
}

.project3 span {
    color: #ffa627;
    font-weight: bold;
}

/* Hospitality */
.Hospitality  {
    width: 100%;
    height: calc(100vh - 79px);
    position: relative;
    overflow: hidden;
}

.project4 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.project4 hr {
    border-top: 3px solid #bbb;
    width: 80%;
    margin-bottom: 30px;
}

.project4 h2 {
    font-family:  Arial, Helvetica, sans-serif;
    color: #a5a2a2;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 20px;
}
.project4 h5 {
    display: inline-block;
    background-color: #ffa627;
    color: #fff;
    padding: 10px;
}
.project4 p {
    font-size: 18px;
    color: #000;
}

.project4 .hos {
    padding: 8px;
}

.project4 img {
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

@media screen and (max-width:1200px){
    .project4 img {
        width: 90%;
    }
    .project4 h2 {
        font-size: 24px;
    }
    .project4 p {
        font-size: 15px;
    }
}

.project4 span {
    color: #ffa627;
    font-weight: bold;
}

/* Recidential */
.Recidential  {
    width: 100%;
    height: calc(100vh - 79px);
    position: relative;
    overflow: hidden;
}

.project5 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.project5 hr {
    border-top: 3px solid #bbb;
    width: 80%;
    margin-bottom: 30px;
}

.project5 h2 {
    font-family:  Arial, Helvetica, sans-serif;
    color: #a5a2a2;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 20px;
}
.project5 h5 {
    display: inline-block;
    background-color: #ffa627;
    color: #fff;
    padding: 10px;
}
.project5 p {
    font-size: 18px;
    color: #000;
}

.project5 .rec {
    padding: 8px;
}

.project5 img {
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

@media screen and (max-width:1200px){
    .project5 img {
        width: 90%;
    }
    .project5 h2 {
        font-size: 24px;
    }
    .project5 p {
        font-size: 15px;
    }
}

/* all projects */
.image {
    width: 540px;
    height: 320px;
}
.mar-b {
    margin-bottom: 10px;
}